
<div class='footer'>

  <section style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="container text-center text-md-start mt-3">
      <div class="row pt-5">
        <div class="col-md-3 col-lg-4 col-xl-3 mt-5">
          <!-- Content -->
          <h2 class="text-uppercase fw-bold mb-2">
            Pidgeotour
          </h2>
          <p>
            Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mt-4 text-center" id="links">
          <p>
            <a class="nav-link" aria-current="page" routerLink="">Home</a>
          </p>
          <p>
            <a class="nav-link" aria-current="page" routerLink="destinations">Roteiros</a>
          </p>
          <p>
            <a class="nav-link" aria-current="page" routerLink="about">Sobre nós</a>
          </p>
          <p>
            <a class="nav-link" aria-current="page" routerLink="contact">Fale conosco</a>
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2 mt-4 text-center" id="social">
          <div >
            <p>
              <a href="https://pt-br.facebook.com/Pokemon/">
                <i class="bi bi-facebook"></i>
              </a>
            </p>
            <p>
              <a href="https://twitter.com/Pokemon" >
                <i class="bi bi-twitter"></i>
              </a>
            </p>
            <p>
              <a href="https://www.instagram.com/pokemon/" >
                <i class="bi bi-instagram"></i>
              </a>
            </p>
            <p>
              <a href="https://www.tiktok.com/@pokemon?lang=pt-BR">
                <i class="bi bi-tiktok"></i>
              </a>
            </p>
          </div>

        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" id="contacts">
          <h2 class="fw-bold mb-4">
            Contatos
          </h2>
          <p><i class="bi bi-geo-alt-fill"></i> Dragonite Rd. 149, </p>
          <p> Celadon City, Kanto</p>
          <p>
            <i class="bi bi-envelope-fill"></i>
            info@pidgeotour.com.kto
          </p>
          <p><i class="bi bi-telephone-fill"></i> 010407-25-133</p>
        </div>

      </div>
    <br/>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.1);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="#" id="siteUrl">pidgeotour.azurewebsites.net</a>
  </div>

</div>
