<div class="container">
    <div class="row my-2">
        <div class="container">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" > Fale conosco </h2>
                        <div class="card-text">
                          <h1 class="text-center">
                            Ficou alguma dúvida e precisa falar conosco?
                          </h1>
                          <div class="text-center">
                            <h2>Mande também sugestões de como podemos melhorar! </h2>

                          </div>
                          <div class="text-center row">
                            <div class="col-6 iconCont">
                              <i class="bi bi-envelope"></i>
                            </div>

                          </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
