<div class="container">
    <div class="row my-2">
        <div class="container">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" > Sobre a Pidgeotour </h2>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-lg-6 d-flex align-items-center text-center">
                                    <div>
                                        <h2>
                                            Quer passar suas férias visitando os principais pontos turísticos e conhecer as culturas locais de cada região?
                                        </h2>
                                        <br/>
                                        <h2>
                                            Prefere se aventurar em cavernas e florestas para sair da rotina?
                                        </h2>
                                        <br/>
                                        <h2>
                                            Gostaria de conhecer todos os ginásios de uma região antes de iniciar sua jornada?
                                        </h2>
                                        <br/>
                                        <h2>
                                            A Pidgeotour tem o roteiro certo para você!
                                        </h2>
                                        <br/>
                                        <h3>
                                          Estamos sempre evoluindo para atender melhor nossos clientes!
                                        </h3>
                                        <div>
                                          <img class="imgPidgey" src="..\..\assets\images\Pidgey.gif" alt="Pidgey evolving">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <img src="..\..\assets\images\MegaPidgeot.png" alt="Cinnabar island" class="card-img-top">

                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
